			<div id="footer">
				<p>SEVEn! | <% if(!user){ %><a href="/login">Log in</a> | <a href="/register">Register</a><% } else { %><a href="/logout">Log out</a><% } %></p>
			</div>
		</div>
	</body>
</html>
