<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/seven.css" />
	</head>
	<body>
		<div id="page">
			<div id="header">
				<h1>SEVEn!</h1>
				<p>rilak! x IPJ! x Cq! x EOP! x Dodo! x 辰! x Anonym!</p>
			</div>
			<div id="main">
				<div id="main-left">
